HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.gitattributes

# IntelliJ
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# 환경설정 파일
application-*.yml
application-*.properties
!application.yml
!application.properties

# 넷빈
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# 로그 파일
*.log
logs/

# 빌드 결과물
target/

# 운영체제 생성 파일
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
